.director-view {
    padding: 2em;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 900px;
    height: 100vh;
}
.director-view a {
        width: 50px;
        height: 10px;
        margin: .5em 2em;
}
.director-view.col-right {
    padding: 2em;
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
    color: silver;

}
.director-name span.value {
    font-size: 1.7em;
    font-weight: bold;
    color: white;   
}
