* {
  box-sizing: border-box;
}
body {
  font-family: 'Righteous', cursive;
  /* color: hsl(253, 40%, 52%); */
  font-weight: 700;
  line-height: 1;
  padding: 20px;
}

td, th { 
    font-size: 18px;
    border: 1px solid coral;
    padding: 2px; 
}
