.genre-view {
    display: grid;
    grid-template-columns: repeat(1fr, auto);
    color: white;
}
.col-left {
    padding: 2em;
    display: flex;
    flex: auto;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;  
}
.col-right {
    margin: 0 auto;
}

.genre-view a {
        width: 50px;
        height: 10px;
        margin: .5em 2em;
}

.genre-description, .genre-name {
    color: grey;
    padding: .5em;
}
.genre-description span.value, .genre-name span.value {
    font-size: 1.2em;    
}
h4 {
    margin: auto 0;
    display: block;
    // justify-content: center;    
    text-align: center;
}

.genre-description span.label, .genre-name span.label {
    font-size: 1em;
    padding: .2em;
    // margin-right: .5em;
    text-transform: uppercase;;
}
.genre-name span.value {
    font-size: 1.7em;
    font-weight: bold;
    color: white;   
}
.genre-view button.btn.btn-link {
    color: tomato;
    float: left;
}
ul {
    margin: 0;
    padding: 0;
}
div.container {
    padding: 0;
}
@media all and (max-width: 450px) {
    div.col-left {
        padding: 0;
        width: 90%;
        display: block;
        justify-content: stretch;
    }
}